body {
  font-family: "Inter", sans-serif;
  margin: 0%;
  padding: 0%;
  background: #f9f8ff;
  color: #333;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0%;
  margin: 0%;
  background:transparent;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  width: 100%;
  position: fixed;

}
.logo{
  color: #7b5cff;
  padding-left:20px;
}
.btn{
  background-color: yellow;
  color: black;
  border-radius: 30%;
  height: 40px;
  font-size: 17px;
}
.navbar a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.streak {
  background: #f3f3f3;
  padding: 6px 12px;
  border-radius: 8px;
}

.get-started {
  background: #7b5cff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* HERO SECTION */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;

}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1100px;
}

.hero-text h1 {
  padding: 70px;
  font-size: 3rem;
  line-height: 1.2;
}

.hero-text span {
  color: #7b5cff;
}

.hero-text p {
  color: #555;
  margin-top: 1rem;
  font-size: 1.1rem;
  max-width: 500px;
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.primary {
  background: #7b5cff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.secondary {
  border: 1px solid #ccc;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.hero-image {
  width: 100px;
  border-radius: 16px;
}

/* HOW IT WORKS */
.how-it-works {
  text-align: center;
  padding: 4rem 2rem;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.step {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  width: 280px;
}

/* TASKS SECTION */
.tasks {
  text-align: center;
  padding: 4rem 2rem;
}

.task-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.task-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  width: 260px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.task-card .icon {
  font-size: 2rem;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.add-task {
  background: #7b5cff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
}

.view-tasks {
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
}